.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;

    width: 100%;
    background-color: blueviolet;
    border-radius: 1rem;
    color: white;
}